torch==2.3.1
torchaudio==2.3.1
numpy==1.22.0
PyAudio==0.2.14
soundfile==0.12.1
librosa==0.10.0
transformers==4.43.0.dev0
sentence-transformers==3.0.1
pydub==0.25.1
requests==2.32.3
openai==1.35.13
langid==1.1.6
pynndescent==0.5.13
pyarrow==16.1.0
pytorch-lightning==2.3.3
scipy==1.11.4
tqdm==4.66.4
